{% extends "base.html" %}

{% block title_block %}
Configurable
{% endblock %}
{% block right_block %}
<p></p>
<li class="nav-item">
  <a class="btn btn-dark" id="left_block_item" href="#">EY Atlas</a>
</li>
<p></p>
<li class="nav-item">
  <a class="btn btn-dark" id="left_block_item" href="#">EY LEADS</a>
</li>
<p></p>
<li class="nav-item">
  <a class="btn btn-dark" id="left_block_item" href="#">A&A News</a>
</li>
<p></p>

{% endblock %}

  {% block body_block %}
<h2>What is a configurable control?</h2>
<div class="container">
  Administrative and technical actions taken to identify and document the functional characteristics (such as interface settings, jumper settings, hardware drivers, software options) and physical layout of a computer system.
  It also includes:
  <ol>
    <li>
    Controlling and documenting changes made to the functional characteristics and layout
  </li>
  <li>
    Recording model and vendor information on all discrete parts
  </li>
  <li>
    Setting up and tracking maintenance and testing schedules.
  </li>

</ol>



</div>
<h2>Examples</h2>
<div class="container">
  <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
  </ol>

</div>

<h2>FAQ</h2>
<div class="container">
  <ul>
    <li><p><span class="bold">Question:</span>Some question? </p>
      <span class="bold">Answer:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
  </ul>

</div>


  {% endblock %}
