{% extends "base.html" %}
{% block breadcrumb_block %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href=" {% url 'engagement_app:engagement_landing' pk=mainlocation.engagement.id %} ">{{mainlocation.engagement.name}}</a></li>
    {% block breadcrumblink_block %}

    {% endblock %}
  </ol>
</nav>
{% endblock %}

{% block body_block %}

{% endblock %}

{% block right_block %}
<p></p>
<li class="nav-item">
  <a class="btn btn-dark" id="left_block_item" href="{% url 'engagement_app:location_landing' pk=mainlocation.engagement.id %}">Locations</a>
</li>
<p></p>
<li class="nav-item">
  <a class="btn btn-dark" id="left_block_item" href=" {% url 'engagement_app:inventory_landing' pk=mainlocation.engagement.id %} ">Inventory</a>
</li>
<p></p>
<li class="nav-item">
  <a class="btn btn-dark" id="left_block_item" href="{% url 'engagement_app:control_landing' pk=mainlocation.engagement.id %}">Controls</a>
</li>
<p></p>
<li class="nav-item">
  <a class="btn btn-dark" id="left_block_item" href="{% url 'engagement_app:count_landing' pk=mainlocation.engagement.id %}">Counts</a>
</li>
<p></p>
<li class="nav-item">
  <a class="btn btn-dark" id="left_block_item" href="{% url 'engagement_app:it_app_landing' pk=mainlocation.engagement.id %}">IT Applications</a>
</li>

{% endblock %}
