{% extends "engagement_app/base.html" %}

{% block left_block %}

<h3>Location:</h3>
  <p><a type="button" class='btn btn-block btn-dark' id="create" href="#">Create {{engagement.locationnames.mainlocation_name}}</a></p>
  <p><a type="button" class='btn btn-block btn-dark' id="create" href="#">Create Location Type</a></p>
  <p></p>
  <p></p>
{% endblock %}

{% block breadcrumblink_block %}
  <li class="breadcrumb-item"><a href="{% url 'engagement_app:engagement_landing' pk=engagement.id %}">{{engagement.name}}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Location Options</li>
{% endblock %}

{% block body_block %}
  <div class="container">
      <h1>Location Options for {{engagement.name}}:</h1>
      <h4>Lists:</h4>
      <div class="engagement_list">
        <ul>
          <li>
            <a class="btn btn-dark" id="engagement_list" href=" {% url 'engagement_app:engagement_mainlocation_detail' pk=engagement.id %} ">{{engagement.locationnames.mainlocation_name}}s</a>
          </li>
          <li>
            <a class="btn btn-dark" id="engagement_list" href=" {% url 'engagement_app:engagement_typelocation_detail' pk=engagement.id %} ">Location Types</a>
          </li>
          <p></p>
          <h5>Counts:</h5>
          <li>
            <a class='btn btn-dark' id="engagement_list" data-toggle="collapse" href="#locations" role="button" aria-expanded="false" aria-controls="collapse">Counts by Location:</a>
              <div class="collapse multi-collapse" id="locations">
                Coming soon!
              </div>
          </li>
          <p></p>
          <h5>Inventory:</h5>
          <li>
            <a class='btn btn-dark' id="engagement_list" data-toggle="collapse" href="#inventoryclass" role="button" aria-expanded="false" aria-controls="collapse">Inventory Class by Location:</a>
              <div class="collapse multi-collapse" id="inventoryclass">
                Coming soon!
              </div>
          </li>
          <li>
            <a class='btn btn-dark' id="engagement_list" data-toggle="collapse" href="#inventorytype" role="button" aria-expanded="false" aria-controls="collapse">Inventory Type by Location:</a>
              <div class="collapse multi-collapse" id="inventorytype">
                Coming soon!
              </div>
          </li>
          <p></p>
          <h5>Controls:</h5>
          <li>
            <a class='btn btn-dark' id="engagement_list" data-toggle="collapse" href="#controls" role="button" aria-expanded="false" aria-controls="collapse">Controls by Location:</a>
              <div class="collapse multi-collapse" id="controls">
                Coming soon!
              </div>
          </li>
          <p></p>
          <h5>IT Applications:</h5>

          <li>
            <a class='btn btn-dark' id="engagement_list" data-toggle="collapse" href="#application" role="button" aria-expanded="false" aria-controls="collapse">IT Applications by Location:</a>
              <div class="collapse multi-collapse" id="application">
                Coming soon!
              </div>
          </li>
        </ul>
      </div>



  </div>
  <div class="container">

  </div>

{% endblock %}
