{% extends "location_app/base.html" %}
{% load static %}
{% load humanize %}
{% block left_block %}
<h3>{{mainlocation.name}}</h3>
  <a class='btn btn-light btn-block' id="create" href="{% url 'location_app:mainlocation_update' pk=mainlocation.pk en_pk=mainlocation.engagement.id %}">Update</a>
  <a class='btn btn-danger btn-block' id="create" href="{% url 'location_app:mainlocation_delete' pk=mainlocation.pk %}">Delete</a>
  <p></p>
<h4>Location Actions:</h4>
  <a class="btn btn-light btn-block" id="create" href="{% url 'location_app:main-type_associate' pk=mainlocation.id %}">Associate Location Type(s)</a>
  <a class='btn btn-light btn-block' id="create" href=" {% url 'location_app:subonelocation_create' pk=mainlocation.id %} ">Create {{mainlocation.engagement.locationnames.subonelocation_name}}</a>
  <p></p>
<h4>Inventory Actions:</h4>
  <a class="btn btn-light btn-block" id="create" href="{% url 'inventory_app:inventory_maintype_associate' pk=mainlocation.id %}">Associate Inventory Type</a>
<p></p>
<h4>Control Actions:</h4>
  <a class="btn btn-light btn-block" id="create" href="{% url 'control_app:mainlocationcontrol_associate' pk=mainlocation.id %}">Associate Control</a>
<p></p>
<h4>IT Apps:</h4>
  <p><a type="button" class='btn btn-light btn-block' id="create" href=" {% url 'it_app:mainlocationapplication_associate' pk=mainlocation.id %} ">Associate IT App</a></p>
  <p> </p>
  <p> </p>



{% endblock %}
{% block breadcrumblink_block %}

  <li class="breadcrumb-item"><a href="{% url 'engagement_app:engagement_mainlocation_detail' pk=mainlocation.engagement.id %} ">{{mainlocation.engagement.locationnames.mainlocation_name}}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{mainlocation.name}}</li>
{% endblock %}


{% block body_block %}
  <div class="container">
    <h1>Details for Location:</h1>

    <div class="container">
        <div class="detail_header">
          <p>{{mainlocation.name}}</p>
        </div>
      </div>

      <div class="container" id="detail_box">

            <h3>Details:</h3>
            <div class="container" id="detail_box_detail">
              <div>
                  <span class="bold">Name:</span>
                  {{mainlocation.name}}
              </div>
              <p></p>
              <div>

                  <span class="bold">Address:</span>
                  {{mainlocation.address}}
              </div>
              <p></p>
              <div>
                  <span class="bold">Description:</span>
                  <div class="container">

                  {{mainlocation.description}}
                </div>
              </div>
              <p></p>
            </div>
      </div>
        <div class="container">
          <ul>
<!--location Types-->
            <li>
              <div class="locationtypes">
                <a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#locationtype" role="button" aria-expanded="false" aria-controls="collapse">Location Type(s):</a>
                  <div class="collapse multi-collapse" id="locationtype">
                    {% if mainlocation.mainlocationinfo.all %}
                        <div class="detail_list">
                          {% for  mainlocationinfo in mainlocation.mainlocationinfo.all  %}
                            <ul>
                              <li>
                                  <a class='btn btn-secondary' id="detail_btn" href=" {% url 'location_app:typelocation_detail' pk=mainlocationinfo.type.id  %} ">{{mainlocationinfo.type}}</a>
                                    <a class='unassociate' href=" {% url 'location_app:main-type_unassociate' pk=mainlocationinfo.id %} ">
                                      <img id="unassociate" src="{% static "images/folder_delete_color.png" %}"  alt="Unassociate">
                                      </a>
                                </li>
                              </ul>
                          {% endfor %}
                        </div>
                    {% else %}
                      <div class="container">
                        <p></p>
                        <div class="jumbotron">
                          <h3>No Location Type Associated with {{mainlocation.name}}</h3>
                          <p>To Associate Location Type:</p>
                          <a class="btn btn-dark" href="{% url 'location_app:main-type_associate' pk=mainlocation.id %}">Associate Location Type(s)</a>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </li>
<!--location subs-->
              <li>
                <div class="locationsubs">
                <a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#locationsub" role="button" aria-expanded="false" aria-controls="collapse">{{mainlocation.engagement.locationnames.subonelocation_name}}(s):</a>
                  <div class="collapse multi-collapse" id="locationsub">
                    {% if mainlocation.subonelocation.all %}
                        <div class="detail_list">
                          {% for  subonelocation in mainlocation.subonelocation.all  %}
                            <ul>
                              <li>
                                <a class='btn btn-secondary' id="detail_btn" href=" {% url 'location_app:subonelocation_detail' ml_pk=subonelocation.mainlocation.id pk=subonelocation.id %} ">{{subonelocation.name}}</a>
                              </li>
                            </ul>
                          {% endfor %}
                        </div>
                    {% else %}
                      <div class="container">
                        <p></p>
                        <div class="jumbotron">
                          <h3>No {{mainlocation.engagement.locationnames.subonelocation_name}}(s) under {{mainlocation.name}}</h3>
                          <p>To Add a {{mainlocation.engagement.locationnames.subonelocation_name}}:</p>
                          <a class='btn btn-dark' href=" {% url 'location_app:subonelocation_create' pk=mainlocation.id %} ">Create {{mainlocation.engagement.locationnames.subonelocation_name}}</a>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </li>
<!--Inventory at Location-->
              <li>
                <div class="inventoryclass">
                  <a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#inventoryclass" role="button" aria-expanded="false" aria-controls="collapse">Inventory On-Site:</a>
                    <div class="collapse multi-collapse" id="inventoryclass">
                      {% if mainlocation.inventorytypemainlocation.all %}
                        <div class="detail_list">
                          <span class="note" >All inventory phyiscally held at the {{mainlocation.name}} {{mainlocation.engagement.locationnames.mainlocation_name}}</span>
                          {% for cls,inventorytypes in mainlocation.get_inventory_types_by_class.items %}
                            <ul>
                              <li><a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#inventorytype{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapse">{{cls}}</a>
                                  <div class="collapse multi-collapse" id="inventorytype{{forloop.counter}}">
                                    {% for  inventorytypemainlocation in inventorytypes  %}
                                    <ul>
                                      <li>
                                          <a class='btn btn-secondary' id="detail_btn" href="{% url 'inventory_app:inventorytype_detail' pk=inventorytypemainlocation.type.pk %}">{{inventorytypemainlocation.type}}</a>
                                          <span class="btn btn-primary" id="money_btn" > {{inventorytypemainlocation.balance |intcomma}}</span>
                                          <a class='unassociate' href=" {% url 'inventory_app:inventory_maintype_unassociate' pk=inventorytypemainlocation.id %} ">
                                            <img id="unassociate" src="{% static "images/folder_delete_color.png" %}"  alt="Unassociate">
                                            </a>
                                      </li>
                                    </ul>
                                    {% endfor %}
                                  </div>
                                </li>
                                </ul>
                          {% endfor %}

                        </div>
                      {% else %}
                        <div class="container">
                          <p></p>
                          <div class="jumbotron">
                            <h3>No Inventory Types Associated With {{mainlocation.name}}</h3>
                            <p>To Associate an Inventory Type:</p>
                            <a class="btn btn-dark" href="{% url 'inventory_app:inventory_maintype_associate' pk=mainlocation.id %}">Associate Inventory Type</a>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </li>
<!--Aggregate amount of Inventory-->
                <li>
                  <div class="inventoryaggregate">
                    <a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#inventoryaggregate" role="button" aria-expanded="false" aria-controls="collapse">Inventory Aggregate:</a>
                      <div class="collapse multi-collapse" id="inventoryaggregate">
                          <div class="detail_list">
                            <span class="note" >All inventory under and at the {{mainlocation.name}} {{mainlocation.engagement.locationnames.mainlocation_name}}</span>
                                      {% for  inventorytype,balance in mainlocation.get_aggregate_inventory_balance.items  %}
                                        <ul>
                                          <li>
                                              <a class='btn btn-secondary' id="detail_btn" href="#">{{inventorytype}}</a>
                                              <span class="btn btn-primary" id="money_btn" > {{balance |intcomma}}</span>

                                          </li>
                                        </ul>
                                      {% endfor %}
                          </div>
                      </div>
                    </div>
                  </li>
<!--Controls-->
                  <li>
                    <div class="controls">
                    <a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#controls" role="button" aria-expanded="false" aria-controls="collapse">Control(s):</a>
                      <div class="collapse multi-collapse" id="controls">
                        {% if mainlocation.mainlocationcontrol.all %}
                            <div class="detail_list">
                              {% for  mainlocationcontrol in mainlocation.mainlocationcontrol.all  %}
                                <ul>
                                  <li>
                                    <a class='btn btn-secondary' id="detail_btn" data-toggle="collapse" href="#control{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapse" >{{mainlocationcontrol.control}}</a>
                                    <a class='dashboard' href=" {% url 'control_app:control_detail' pk=mainlocationcontrol.control.id %} ">
                                      <img id="dashboard" src="{% static "images/notepad_view_black.png" %}"  alt="detail">
                                      </a>
                                      <a class='unassociate' href=" {% url 'controls_app:mainlocationcontrol_unassociate' pk=mainlocationcontrol.id %} ">
                                        <img id="unassociate" src="{% static "images/folder_delete_color.png" %}"  alt="Unassociate">
                                        </a>

                                      <div class="collapse multi-collapse" id="control{{forloop.counter}}">
                                        <div class="container">
                                          <div class="container" id="control_dis">
                                            <div class="jumbotron" id="control_dis">
                                              <p>
                                                <span class="bold" >Control Name:</span>
                                                {{mainlocationcontrol.control.name}}
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </li>
                                </ul>
                              {% endfor %}
                            </div>
                        {% else %}
                          <div class="container">
                            <p></p>
                            <div class="jumbotron">
                              <h3>No Controls Associated With {{mainlocation.name}}</h3>
                              <p>To associate a control:</p>
                              <a class='btn btn-dark' href=" {% url 'controls_app:mainlocationcontrol_associate' pk=mainlocation.id %} ">Associate Control</a>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </li>
<!--Counts-->
                  <li>
                    <div class="counts">
                    <a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#counts" role="button" aria-expanded="false" aria-controls="collapse">Count(s):</a>
                      <div class="collapse multi-collapse" id="counts">
                        {% if mainlocation.invcount.all %}
                            <div class="detail_list">
                              {% for  invcount in mainlocation.invcount.all  %}
                                <ul>
                                  <li>
                                    <a class='btn btn-secondary' id="detail_btn" data-toggle="collapse" href="#count{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapse" >{{invcount.ref}}</a>
                                      <div class="collapse multi-collapse" id="count{{forloop.counter}}">
                                        <div class="container">
                                          <div class="container" id="control_dis">
                                            <div class="jumbotron" id="control_dis">
                                              <p>
                                                <span class="bold" >Inventory Type:</span>
                                                {{invcount.inventorytype}}
                                              </p>
                                              <p>
                                                <span class="bold" >Count Date:</span>
                                                {{invcount.date}}
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </li>
                                </ul>
                              {% endfor %}
                            </div>
                        {% else %}
                          <div class="container">
                            <p></p>
                            <div class="jumbotron">
                              <h3>No Counts Associated With {{mainlocation.name}}</h3>
                              <p>To create an inventory count:</p>
                              <a class='btn btn-dark' href=" {% url 'count_app:count_create' %} ">Create Count</a>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </li>
<!--IT Applications-->
                  <li>
                    <div class="apps">
                    <a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#apps" role="button" aria-expanded="false" aria-controls="collapse">IT Application(s):</a>
                      <div class="collapse multi-collapse" id="apps">
                        {% if mainlocation.mainlocationapplication.all %}
                            <div class="detail_list">
                              {% for  mainlocationapplication in mainlocation.mainlocationapplication.all  %}
                                <ul>
                                  <li>
                                    <a class='btn btn-secondary' id="detail_btn" data-toggle="collapse" href="#itapp{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapse" >{{mainlocationapplication.application.name}}</a>
                                    <a id="dashboard" href=" {% url 'it_app:application_detail' pk=mainlocationapplication.application.id %} "><img id="dashboard" src="{% static "images/notepad_view_black.png" %}"  alt="detail"></a>
                                    <a class='unassociate' href=" {% url 'it_app:mainlocationapplication_unassociate' pk=mainlocationapplication.id %} ">
                                      <img id="unassociate" src="{% static "images/folder_delete_color.png" %}"  alt="Unassociate">
                                      </a>

                                      <div class="collapse multi-collapse" id="itapp{{forloop.counter}}">
                                        <div class="container">
                                          <div class="container" id="control_dis">
                                            <div class="jumbotron" id="control_dis">
                                              <p>
                                                <span class="bold" >Description:</span>
                                                {{mainlocationapplication.description}}
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </li>
                                </ul>
                              {% endfor %}
                            </div>
                        {% else %}
                          <div class="container">
                            <p></p>
                            <div class="jumbotron">
                              <h3>No IT Applications Associated With {{mainlocation.name}}</h3>
                              <p>To associate an IT Application:</p>
                              <a class='btn btn-dark' href="{% url 'it_app:mainlocationapplication_associate' pk=mainlocation.id %}">Associate IT Application</a>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </li>

            </ul>
          </div>
        </div>

{% endblock %}
