{% extends "engagement_app/base.html" %}
{% load static %}
{% block title_block %}
control detail
{% endblock%}
{% block left_block %}
  <div class="left_block">
  <p><a type="button" class='btn btn-block btn-dark' id="create" href="{% url 'control_app:control_create' pk=engagement.id %}">Create Control</a></p>


</div>
{% endblock %}

{% block breadcrumblink_block %}
  <li class="breadcrumb-item"><a href="{% url 'engagement_app:engagement_landing' pk=engagement.id %}">{{engagement.name}}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Controls</li>
{% endblock %}

{% block body_block %}
  <div class="container">
    <p>
      <div class="header_list">
        <span class="list_header">
            Controls for {{engagement.name}}:
          </span>
          </div>
            <button id="show_btn" class="btn btn-dark" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="">Show All</button>
            <a id="show_btn" class="btn btn-dark" href="{% url 'engagement_app:engagement_mainlocation_detail' pk=engagement.id %}">Hide All</a>

    </p>
{% if engagement.control.all %}

<!-- Main location for-->
      {% for control in engagement.control.all %}
      <ul>
        <li>
          <a class='btn btn-light' data-toggle="collapse" id="list_btn" href="#control{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapse">{{control.ref}}</a>
          <a class='dashboard' href="{% url 'control_app:control_detail' pk=control.id %}">
            <img id="dashboard" src="{% static "images/notepad_view_black.png" %}"  alt="detail">
            </a>
<!-- control discription-->
          <div class="collapse multi-collapse" id="control{{forloop.counter}}">
            <div class="container" id="control_dis">
              <div class="jumbotron" id="control_dis">

                <p>
                  <span class="bold" >Control Name:</span>
                  {{control.name}}
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      {% endfor %}


  </div>
  {% else %}
  <div class="container">
    <div class="jumbotron">

      <span class="bold">
        <p>No Controls for {{engagement.name}}</p>
      </span>
      <p>To Create Control:</p>

      <div class="container">
        <p><a type="button" class='btn btn-dark' href="{% url 'control_app:control_create' pk=engagement.id %}">Create Main Location</a></p>
      </div>
  </div>
</div>
  {% endif %}


{% endblock %}
