{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block body_block %}
<h1>
  {% if not form.instance.pk %}
  Create Engagement
  {% else %}
  Update Engagement
  {% endif %}
</h1>
  <form method="POST">
    {% csrf_token %}
    <p>
      <span class="bold" > Engagement Name:</span> <a href="#"> <img id="info_bulb" src="{% static "images/idea_clear.png" %}" alt="info"> </a>
      <div class="container">

      {% render_field form.name class="form-control" placeholder=form.name.label %}
      {{ form.name.errors }}
    </div>
    </p>
    <p>
      <span class="bold" > Engagement Partner:</span> <a href="#"> <img id="info_bulb" src="{% static "images/idea_clear.png" %}" alt="info"> </a>
      <div class="container">

      {% render_field form.partner class="form-control" placeholder=form.partner.label %}
      {{ form.partner.errors }}
    </div>
    </p>
    <p>
      <span class="bold" > Engagement Office:</span> <a href="#"> <img id="info_bulb" src="{% static "images/idea_clear.png" %}" alt="info"> </a>
      <div class="container">

      {% render_field form.office class="form-control" placeholder=form.office.label %}
      {{ form.office.errors }}
    </div>
    </p>
    <p>
      <span class="bold" > Engagement Industry:</span> <a href="#"> <img id="info_bulb" src="{% static "images/idea_clear.png" %}" alt="info"> </a>
      <div class="container">

      {% render_field form.industry class="form-control" placeholder=form.industry.label %}
      {{ form.industry.errors }}
    </div>
    </p>
    <input type="submit" class='btn btn-primary' value="Submit">

  </form>

{% endblock %}
