{% extends "engagement_app/base.html" %}
{% load static %}
{% block title_block %}
count detail
{% endblock%}
{% block left_block %}
  <div class="left_block">
  <p><a type="button" class='btn btn-block btn-dark' id="create" href="{% url 'count_app:count_create' pk=engagement.id %}">Create Count</a></p>


</div>
{% endblock %}

{% block breadcrumblink_block %}
  <li class="breadcrumb-item"><a href="{% url 'engagement_app:engagement_landing' pk=engagement.id %}">{{engagement.name}}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Counts</li>
{% endblock %}

{% block body_block %}
  <div class="container">
    <p>
      <div class="header_list">
        <span class="list_header">
            Counts for {{engagement.name}}:
          </span>
          </div>
            <button id="show_btn" class="btn btn-dark" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="">Show All</button>
            <a id="show_btn" class="btn btn-dark" href="{% url 'engagement_app:engagement_count_detail' pk=engagement.id %}">Hide All</a>

    </p>
{% if engagement.invcount.all %}

<!-- Main location for-->
      {% for invcount in engagement.invcount.all %}
      <ul>
        <li>
          <a class='btn btn-light' data-toggle="collapse" id="list_btn" href="#count{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapse">{{invcount.ref}}</a>
          <a class='dashboard' href="{% url 'count_app:count_detail' pk=invcount.id %}">
            <img id="dashboard" src="{% static "images/notepad_view_black.png" %}"  alt="detail">
            </a>
<!-- control discription-->
          <div class="collapse multi-collapse" id="control{{forloop.counter}}">
            <div class="container" id="control_dis">
              <div class="jumbotron" id="control_dis">

                <p>
                  <span class="bold" >Inventory Type and Location:</span>
                  {{invcount.inventorytypemainlocation}}
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      {% endfor %}


  </div>
  {% else %}
  <div class="container">
    <div class="jumbotron">

      <span class="bold">
        <p>No Counts for {{engagement.name}}</p>
      </span>
      <p>To Create Count:</p>

      <div class="container">
        <p><a type="button" class='btn btn-dark' href="{% url 'count_app:count_create' pk=engagement.id %}">Create Count</a></p>
      </div>
  </div>
</div>
  {% endif %}
{{controls_in_controltypes}}
{{control_types}}
  {% for controltype in control_types %}
    <ul>
      <li>{{controltype.control_type}}
          {% for control in engagement.control.all %}

          {% endfor %}
      </li>
    </ul>

  {% endfor %}

{% endblock %}
