{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">

{% block body_block %}
<h1>
  {% if not form.instance.pk %}
  Create {{subonelocation_called}} for {{mainlocation_name}}
  {% else %}
  Update {{subonelocation_called}} for {{mainlocation_name}}
  {% endif %}
</h1>
  <form method="POST" id="hideerror_form">
    {% csrf_token %}

    {% for error in form.errors %}
      {% if error == "__all__" %}
      <div class="container">
          <ul>
            <li>This {{subonelocation_called}} Name Already Exists for {{mainlocation_name}}</li>
          </ul>
      </div>
      {% endif %}
    {% endfor %}

    <p class="hidden">
      {{ form.mainlocation }}
      {{ form.mainlocation.errors }}
    </p>
    <p>
      <span class="bold" > {{subonelocation_called}} Name:</span> <a href="#"> <img id="info_bulb" src="{% static "images/idea_clear.png" %}" alt="info"> </a>
      <div class="container">

      {% render_field form.name class="form-control" placeholder=subonelocation_called %}
      {{ form.name.errors }}
    </div>
    </p>
    <p>
      <span class="bold" > {{subonelocation_called}} Address:</span> <a href="#"> <img id="info_bulb" src="{% static "images/idea_clear.png" %}" alt="info"> </a>
      <div class="container">

      {% render_field form.address class="form-control" placeholder="Physical Address" %}
      {{ form.address.errors }}
    </div>
    </p>
    <p>
      <span class="bold" > {{subonelocation_called}} Description:</span> <a href="#"> <img id="info_bulb" src="{% static "images/idea_clear.png" %}" alt="info"> </a>
        <div class="container">
          {% render_field form.description rows="2" cols="80" class="form-control" placeholder='Description' %}
          {{ form.description.errors }}
        </div>
      </p>
    <p>
    <input type="submit" class='btn btn-primary' value="Submit">
    <a class="btn btn-light" id="cancel-delete" href="{% url 'location_app:mainlocation_detail' pk=mainlocation_id %} ">Cancel</a>
  </form>


{% endblock %}
