{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body_block %}
<h1>
  {% if not form.instance.pk %}
  Associate Location Type with {{subonelocation_name}}
  {% else %}
  Associate Location Type with {{subonelocation_name}}
  {% endif %}
</h1>

  <form method="POST" id="hideerror_form">
    {% csrf_token %}
    {% for error in form.errors %}
      {% if error == "__all__" %}
      <div class="container">
          <ul>
            <li>This Location Type is already associated with {{subonelocation_name}}</li>
          </ul>
      </div>
      {% endif %}
    {% endfor %}
    <p class="hidden">
      {{ form.subonelocation }}
      {{ form.subone.errors }}
    </p>

    <p>
      <span class="bold" > Location Type:</span> <a href="#"> <img id="info_bulb" src="{% static "images/idea_clear.png" %}" alt="info"> </a>
      <div class="container">

      {% render_field form.type class="form-control" placeholder=form.type.label %}
      {{ form.type.errors }}
    </div>
    </p>


    <input type="submit" class='btn btn-primary' value="Submit">
      <a class="btn btn-light" id="cancel-delete" href="{% url 'location_app:subonelocation_detail' ml_pk=mainlocation_id pk=subonelocation_id %} ">Cancel</a>
  </form>



{% endblock %}
