{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">

{% block body_block %}
<h1>
  {% if not form.instance.pk %}
  Create {{subonelocation_called}} for {{mainlocation_name}}
  {% else %}
  Update {{subonelocation_called}} for {{mainlocation_name}}
  {% endif %}
</h1>
  <form method="POST" id="hideerror_form">
    {% csrf_token %}

    {% for error in form.errors %}
      {% if error == "__all__" %}
      <div class="container">
          <ul>
            <li>This {{subonelocation_called}} Name Already Exists for {{mainlocation_name}}</li>
          </ul>
      </div>
      {% endif %}
    {% endfor %}

    {{ form.as_p }}
    <input type="submit" class='btn btn-primary' value="Submit">
    <a class="btn btn-light" id="cancel-delete" href="{% url 'location_app:mainlocation_detail' pk=mainlocation_id %} ">Cancel</a>
  </form>


{% endblock %}
