{% extends "it_app/base.html" %}
{% load static %}
{% load humanize %}
{% block left_block %}
<h3>{{application.name}}</h3>
  <a class='btn btn-light btn-block' id="create" href="{% url 'it_app:application_update' en_pk=application.engagement.id pk=application.pk %}">Update</a>
  <a class='btn btn-danger btn-block' id="create" href="{% url 'it_app:application_delete' pk=application.pk %}">Delete</a>
  <p></p>
  <h4>IT Actions:</h4>
    <a class="btn btn-light btn-block" id="create" href=" {% url 'it_app:report_create' pk=application.id %} ">Create IT Report</a>

    <p></p>
<h4>Location Actions:</h4>
  <a class="btn btn-light btn-block" id="create" href="#">Associate to {{control.engagement.locationnames.mainlocation_name}}</a>
  <a class='btn btn-light btn-block' id="create" href="#">Associate to {{control.engagement.locationnames.subonelocation_name}}</a>
  <p></p>
  <h4>Control Actions:</h4>
    <a class="btn btn-light btn-block" id="create" href="#">Associate to Control</a>
    <p></p>


{% endblock %}
{% block breadcrumblink_block %}

  <li class="breadcrumb-item"><a href="#">IT Applications</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{application.name}}</li>
{% endblock %}


{% block body_block %}

  <div class="container">
    <h1>Details for {{application.name}}:</h1>

    <div class="container">
        <div class="detail_header">
          <p>{{application.name}}</p>
        </div>
      </div>

      <div class="container" id="detail_box">

            <h3>Details:</h3>
            <div class="container" id="detail_box_detail">
              <span class="bold">Application Name:</span> {{application.name}}
              <p></p>
              <div class="">
                <span class="bold">Application Description:</span>
                  <div class="container">
                    {{application.description}}
                  </div>
              </div>
              <p></p>

            </div>
      </div>
        <div class="container">
          <ul>
<!-- All Locations Related to this application-->
            <li>
              <div class="applicationlocations">
                <a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#locations" role="button" aria-expanded="false" aria-controls="collapse">Locations:</a>
                  <div class="collapse multi-collapse" id="locations">
                    <ul>
                      <li>

                        <div class="locationsubs">
<!--MainLocation header-->

                            <a class='btn btn-dark' data-toggle="collapse" id="prt_detail_btn" href="#mainbtn{{application.mainlocationapplication.id}}" role="button" aria-expanded="false" aria-controls="collapse">{{application.engagement.locationnames.mainlocation_name}}:</a>
                            <a href=" {% url 'engagement_app:engagement_mainlocation_detail' pk=application.engagement.pk %} "> <img id="dashboard" src="{% static "images/list_view_black.png" %}"  alt="detail"></a>
          <!--Start of the Main location header button-->
          <div class="collapse multi-collapse" id="mainbtn{{typelocation.id}}">
                        {% if application.mainlocationapplication.all %}
                              {% for mainlocationapplication in application.mainlocationapplication.all %}
                                <ul>
                                  <li>
                                    <a class='btn btn-light' data-toggle="collapse" id="list_btn" href="#main{{mainlocationapplication.id}}" role="button" aria-expanded="false" aria-controls="collapse">{{mainlocationapplication.mainlocation}}</a>
                                    <a href=" # "> <img id="dashboard" src="{% static "images/notepad_view_black.png" %}"  alt="detail"></a>
                                  </li>
                                </ul>
                              {% endfor %}
                          {% else %}
                          <div class="container">
                            <p></p>
                            <div class="jumbotron">
                              <h3>No {{application.engagement.locationnames.mainlocation_name}}(s) Associated With {{application.name}}</h3>
                              <p>To associate a {{application.engagement.locationnames.mainlocation_name}}:</p>
                              <a class="btn btn-dark" href="#">Associate {{application.engagement.locationnames.mainlocation_name}}</a>
                            </div>
                          </div>
                        {% endif %}
                      </div>


                        </div>
                      </li>

<!--Subone locations-->
              <li>
                <div class="container">
                <div class="locationsubs">
                <a class='btn btn-dark' id="prt_detail_btn" data-toggle="collapse" href="#locationsub" role="button" aria-expanded="false" aria-controls="collapse">{{application.engagement.locationnames.subonelocation_name}}(s):</a>
                  <div class="collapse multi-collapse" id="locationsub">
                    {% if application.subonelocationapplication.all %}
                        <div class="detail_list">
                          {% for subonelocationapplication  in subonelocationapplication.subonelocationapplication.all  %}
                            <ul>
                              <li>
                                <a class='btn btn-secondary' id="detail_btn" href=" # ">{{subonelocationapplication.subonelocation.name}}</a>
                              </li>
                            </ul>
                          {% endfor %}
                        </div>
                    {% else %}
                      <div class="container">
                        <p></p>
                        <div class="jumbotron">
                          <h3>No {{application.engagement.locationnames.subonelocation_name}}(s) Associated With {{application.name}}</h3>
                          <p>To associate a {{application.engagement.locationnames.subonelocation_name}}:</p>
                          <a class="btn btn-dark" href="#">Associate {{application.engagement.locationnames.subonelocation_name}}</a>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
                </div>
              </li>
              </ul>
            </div>
          </div>
        </li>
            </ul>
          </div>
        </div>

{% endblock %}
