{% extends "base.html" %}

{% block body_block %}
<h1>Delete Association </h1>
<h4>Delete association of <span class='bold'>{{inventorytypesubonelocation.type}}</span> with <span class='bold'>{{inventorytypesubonelocation.subonelocation}}</span>?</h4>
<form method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-danger" value="Delete">
  <a class="btn btn-light" href="{% url 'inventory_app:inventorytype_detail' pk=inventorytypesubonelocation.type.pk %} ">Cancel</a>

</form>

{% endblock %}
