{% extends "controls_app\inventoryclasscontrol\base.html" %}
{% load static %}
{% load widget_tweaks %}
    {% block reliance_block %}
    <h1>
      {% if not form.instance.pk %}
      Associate Control With {{inventoryclass_name}}
      {% else %}
      Update Association of Control With {{inventoryclass_name}}
      {% endif %}
    </h1>
      <form method="POST" id="hideerror_form">
        {% csrf_token %}

        {% for error in form.errors %}
          {% if error == "__all__" %}
          <div class="container">
              <ul>
                <li>This Control is already associated with this Inventory Class</li>
              </ul>
          </div>
          {% endif %}
        {% endfor %}
    <p class="hidden">
      {{ form.inventoryclass }}
    </p>
    {{ form.inventoryclass.errors }}
    <p></p>
    <p>
      <span class="bold" > Control Reference:</span> <a href="#"> <img id="info_bulb" src="{% static "images/idea_clear.png" %}" alt="info"> </a>
      <div class="container">

      {% render_field form.control class="form-control" placeholder=form.ref.label %}
      {{ form.control.errors }}
    </div>
    </p>
    {% endblock %}

    {% block cancel_btnblock %}
        <a class="btn btn-light" id="cancel-delete" href="{% url 'inventory_app:inventoryclass_detail' pk=inventoryclass_id %} ">Cancel</a>
      {% endblock %}
