{% extends "base.html" %}

{% block body_block %}
<h1>Delete Association </h1>
<h4>Delete association of <span class='bold'>{{mainlocationapplication.application}}</span> with <span class='bold'>{{mainlocationapplication.mainlocation}}</span>?</h4>
<form method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-danger" value="Delete">
  <a class="btn btn-light" href="{% url 'location_app:mainlocation_detail' pk=mainlocationapplication.mainlocation.pk %} ">Cancel</a>

</form>

{% endblock %}
