{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body_block %}
<h1>
  {% if not form.instance.pk %}
  Associate Control With {{mainlocation_name}}
  {% else %}
  Update Control With {{mainlocation_name}}
  {% endif %}
</h1>
  <form method="POST" id="hideerror_form">
    {% csrf_token %}

    {% for error in form.errors %}
      {% if error == "__all__" %}
      <div class="container">
          <ul>
            <li>This Control is already associated with {{mainlocation_name}}</li>
          </ul>
      </div>
      {% endif %}
    {% endfor %}

    {% render_field form.as_p class="form-control" %}

    <input type="submit" class='btn btn-primary' value="Submit">
    <a class="btn btn-light" id="cancel-delete" href="{% url 'location_app:mainlocation_detail' pk=mainlocation_id %} ">Cancel</a>
  </form>


{% endblock %}
